.views-field-field-publication-date {
	font-size: clamp(.9rem, 1.2vw, 1.125rem);
	border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
	padding: 1.75rem 1rem 0.25rem 1rem;
	background-color: var(--tertiary-color);
	position:absolute;
	bottom:0;
	width:100%;
}
.pubs-entity-carousel {
	position: relative;
}

/* Fix for just homepage */
.isu-page-column {
	max-width: 90%;
}

.slick__slide {
	margin-left: 10px;
	margin-right: 10px;
	width: 250px;
	float: left;
	position:relative;
}

.slick__slide img {
	margin-left: auto;
	margin-right: auto;
	border: solid 2px var(--tertiary-color);
}

.slick-list {
	margin-top:10px;
}

a.publication-title {
	display: block;
	min-height: 58px;
	color: #ffffff;
	border-bottom: 2px solid var(--primary-accent-color);
	text-align: center;
	text-decoration: none;
	margin-bottom: 10%;
}

a.publication-title:hover {
	color: #f1be48;
	text-decoration: none;
}

button.slick-next.slick-arrow {
	right: -25px;
	display: block;
}

button.slick-prev.slick-arrow {
	left: -25px;
	display: block;
}

button.slick-next, button.slick-prev {
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 75%;
	width: 3.75rem;
	height: 3.75rem;
	padding: 0;
	transform: translate(0, -215%);
	cursor: pointer;
	color: transparent;
	border: none;
	outline: none;
	background: var(--secondary-color);
	border-radius: 50%;
	transition: background-color .3s ease-in-out;
}
.slick .slick-prev::before {
	content: '\f053';
	font-family: 'FontAwesome';
	font-size: 22px;
	line-height: 1;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
	opacity: .25;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
	background: var(--primary-color);
}
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
	opacity: 1;
}
.slick .slick-next::before {
	content: '\f054';
	font-family: 'FontAwesome';
	font-size: 22px;
	line-height: 1;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* --------------------------------------  */
/* ## Responsive
/* --------------------------------------  */
@media screen and (max-width : 768px) {
	.views-field-field-publication-date {
		position: static;
		padding: .75rem 1rem 0.25rem 1rem;
	  }
}