.pubs-entity-carousel .views-field-field-publication-date {
	font-size: clamp(.9rem, 1.2vw, 1.125rem);
	position: absolute;
	bottom: 0;
	width: 100%;
	color: var(--dk-gray);
	padding: 1.75rem 1rem 0.25rem 1rem;
}
.pubs-entity-carousel .views-field-name a {
	display: block;
	font-weight: 600;
	text-decoration: none;
	padding: 0.5rem 1rem 0.25rem 1rem;
}
.pubs-entity-carousel .slick__slide {
	margin-left: 10px;
	margin-right: 10px;
	width: 250px;
	float: left;
	position:relative;
	height: 100%;
	transition: ease .25s;
	border: 2px solid #ddd;
}
.pubs-entity-carousel .slick__slide img {
	margin-left: auto;
	margin-right: auto;
	padding: 1rem 1rem 0 1rem;
}
.pubs-entity-carousel .publication-title a {
	display: block;
	min-height: 8rem;
	text-decoration: none;
}
.pubs-entity-carousel .isueo-pubs-download {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 1.75rem 1rem 0.25rem 1rem;
}
.pubs-entity-carousel .isueo-pubs-download a {
	text-decoration: none;
}
button.slick-next.slick-arrow {
	right: -25px;
	display: block;
}
button.slick-prev.slick-arrow {
	left: -25px;
	display: block;
}
button.slick-next, button.slick-prev {
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 50%;
	width: 3.75rem;
	height: 3.75rem;
	padding: 0;
	transform: translate(0, -50%);
	cursor: pointer;
	color: transparent;
	border: none;
	outline: none;
	background: var(--secondary-color);
	border-radius: 50%;
	transition: background-color .3s ease-in-out;
}
.slick .slick-prev::before {
	content: '\f053';
	font-family: 'FontAwesome';
	font-size: 22px;
	line-height: 1;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
	opacity: .25;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
	background: var(--primary-color);
}
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
	opacity: 1;
}
.slick .slick-next::before {
	content: '\f054';
	font-family: 'FontAwesome';
	font-size: 22px;
	line-height: 1;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* --------------------------------------  */
/* ## Responsive
/* --------------------------------------  */
@media screen and (max-width : 768px) {
	.pubs-entity-carousel .views-field-field-publication-date {
		position: static;
		padding: 0.75rem 1rem 0.25rem 1rem;
		margin-bottom: 1.9rem;
	}
	.pubs-entity-carousel .publication-title a {
		height: 6.5rem;
	}
	.pubs-entity-carousel .isueo-pubs-download {
		right: unset;
	}
}