/* Styles used by the ungerboeck_eventlist module */

/* --------------------------------------  */
/* ## Events
/* --------------------------------------  */
.event_details_links {
    margin-bottom: 3.875rem;
    margin-top: 2.875rem;
}
.event_description {
    margin-bottom: 3rem;
    font-weight: normal;
    font-size: initial;
}
.event_details_wrapper {
    margin-bottom: 1.75rem;
    font-weight: 700;
    font-size: 1.18rem;
}
p.event_details_next_session {
    padding-left: 3rem;
    font-weight: normal;
}
.event_address_wrapper {
    margin-top: 1.5rem;
}
.event_contact_wrapper {
    margin-top: 1.5rem;
}
.events_show_more{
    background-color: #006BA6;
        border-color: #006BA6;
        font-weight: 700;
        border-radius: 3px;
        cursor: pointer;
        transition: background 0.2s ease;
        padding: 7px;
        margin-left: 5%;
        color: #fff;
        text-decoration: none;
}
img.educational_program_image {
    width: 100%;
    padding: 0;
    margin: 0;
    object-fit: cover;
    max-height: 50vh;
    margin-bottom: 2.875rem;
}
.event_instructor_wrapper {
    margin-top: 1.5rem;
}
.events_show_more:hover{
    background-color: #202124;
    color: #fff;
    text-decoration: none;
}
.event_sessions {
    font-size: initial;
    font-weight: normal;
    padding: 1.5rem;
}
.event_details_session_registration {
    display: grid;
    grid-template-columns: auto auto;
}
.event_contact_label{padding-top:10px;}

div.clearer {clear:both;}

.next_session{font-weight: bold;}
.visible-for-screen-readers {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.event_details_wrapper .icon svg {
    vertical-align: middle;
    width: 2rem !important;
    margin-right: 0.7rem;
    color: var(--primary-color);
}
.event_details_wrapper .icon>svg path {
    fill: #c8102e;
}
.event_details_registration_wrapper {
    border: 1px solid var(--md-gray);
    padding: 2rem;
}
.event_details_registration_wrapper h2 {
    color: #000000;
}
.event_details_registration {
    font-size: initial;
    font-weight: normal;
}

/* Add to Calendar Button */
.event-actions {
    margin-bottom: 2.875rem;
    margin-top: 1.5rem;
}