.ais-Dropdown-button {
  border: 1px solid var(--midnight);
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  cursor: pointer;
  font-family: var(--sans-font);
  font-size: clamp(1rem, 1vw, 1rem);
  line-height: 1.5;
  background-color: transparent;
  height: 3rem;
}
.ais-Dropdown-button--refined {
  font-weight: bold;
}
button.ais-Dropdown-button:after {
  content: "\f078";
  font-family: 'FontAwesome';
  margin-left: .5rem;
}
.ais-Dropdown .ais-Panel-body > div > div[class^='ais-'] {
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding: 0.75rem;
  background-color: #fff;
  z-index: 250;
  min-width: 300px;
  max-height: 500px;
  overflow: auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  scrollbar-width: thin;
  scrollbar-color: #EBEBEB #F5F5F5;
}
.ais-Dropdown .ais-Panel-header {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}
.ais-Dropdown .ais-Panel-body {
  display: none;
}
.ais-Dropdown--opened .ais-Panel-body {
  display: block;
}
.ais-Dropdown .ais-Panel-body {
  position: relative;
}
.ais-Dropdown-close {
  display: none;
}
input.ais-RefinementList-checkbox {
  margin-right: .5rem;
}
input[type=checkbox].ais-RefinementList-checkbox {
  transform: scale(1.4);
  vertical-align: middle;
  transition: box-shadow 150ms ease-out;
}
.ais-RefinementList-labelText {
  margin-right: .5rem;
}
li.ais-RefinementList-item.ais-RefinementList-item--selected input[type=checkbox].ais-RefinementList-checkbox {
  accent-color: var(--cardinal);
}
.ais-RefinementList-count:before {
  content: "(";
}
.ais-RefinementList-count:after {
  content: ")";
}
/* --------------------------------------  */
/* ## Responsive
/* --------------------------------------  */
@media only screen and (max-width: 375px) {
  body {
    overflow: hidden;
  }
  .ais-Dropdown--opened .ais-Panel-body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
  }
  .ais-Dropdown--opened .ais-Panel-body > div > div[class^='ais-'] {
    margin-top: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 85vh;
    border: 0;
  }
  .ais-Dropdown--opened .ais-Panel-footer {
    position: absolute;
    top: 85vh;
    width: 100%;
    left: 0;
    bottom: 0;
  }
  .ais-Dropdown-close {
    border: 1px solid #d6d6e7;
    background: #fff;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    width: calc(100% - 2rem);
    margin: 0 1rem;
    height: 3rem;
    font-size: 1rem;
  }
  .ais-Dropdown-close:hover {
    background-color: #f5f5fa;
  }
  .ais-Dropdown--opened .ais-Dropdown-close {
    display: inline;
  }
}
