:root {
	--dk-gray: #4a4a4a;
	--lt-gray: #f5f5f5;
	--md-gray: #ebebeb;
}

/* --------------------------------------  */
/* ## CONTACT BLOCK
/* --------------------------------------  */
.isu-footer_contact-address-title
{
    font-weight:700;
    font-size: 16px;
}
.contact_hours_title.h3 {
	color: var(--primary-color);
}