div.embedded_article article p.iastate-article__back-btn {display: none;}
div.embedded_article article h2.hero--news-article__subhead {color: black; font-weight: normal; font-size: 1em;}
div.embedded_article article div.share {display: none;}
/*div.embedded_article article div.itswd-section-wrapper-last {display: none;}*/
svg.svg-inline--fa {display: none;}
div.embedded_article span.authored-on {display: none;}
div.embedded_article .itswd-section-content .hero--news-article.text-content {display: none;}
div.embedded_article aside.iastate2022-aside {display: none;}
div.embedded_article figcaption {padding: 0.5rem 0.8rem 0 0.8rem; font-size: 0.875rem; font-style: italic; line-height: 1.57143; position: relative; color: var(--dk-gray);}
