/* ------------------------------------- */
/* ## RESULTS
/* ------------------------------------- */
.ts-events-date .icon svg, .ts-event-location .icon svg {
    vertical-align: middle;
    width: 1.4rem;
    margin-right: .3rem;
}
.ts-events-item.card {
    margin: 1.125rem 1.1rem 0.5rem 0;
    box-shadow: none;
}
.visible-for-screen-readers {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.ts-events-date, .ts-event-location {
    display: flex;
    align-items: center;
}
.search-results-facets #program {
    display: none;
}
.search-results {
    max-width: 1140px;
    margin: 1.125rem 1.1rem .5rem;
}
.ts-events-wrapper.search-results .ais-InfiniteHits li {
    list-style: none;
    border-bottom: 1px solid #ddd;
}
.search-results .ais-InfiniteHits ol {
    padding-left: 0;
}
.search-results .card img {
    width: 250px;
    height: 180px;
    object-fit: cover;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
}
.search-results .card .card-body {
    text-align: left;
}
.ts-events h2.card-title a {
    color: var(--cardinal);
}
.search-results h2.card-title a:hover {
    color: var(--burgundy);
    text-decoration: underline;
}
.search-results .card-title {
    line-height: 1;
}
.search-results h2 {
    padding-bottom: 0;
}
.search-results .hit-summary {
    line-height: 1.3;
    font-size: 1rem;
}
.search-results .ais-InfiniteHits-loadMore--disabled {
    display: none;
}
.search-results .search-stats-number {
    padding: 0 0 0.8rem 0.5rem;
    font-weight: 700;
}
.search-results-snipets #stats {
    margin: 1.125rem 1.1rem 0.5rem 0;
}
button.ais-InfiniteHits-loadMore.btn-outline-danger.btn {
    margin: 1.125rem 1.1rem 0.5rem;
}
/* --------------------------------------  */
/* ## Responsive
/* --------------------------------------  */
@media screen and (max-width : 1199px) {
    .search-results .card-title {
        margin-left: 0 !important;
    }
    .search-results-facets-inner_wrapper {
        grid-template-columns: 9fr 11fr;
    }
    .search-results .card img {
        border-left: 10px solid #fff;
    }
}
@media screen and (max-width : 768px) {
    div#block-iastate-theme-content--2 h2.hit-name.card-title {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (min-width : 575px) {
    #hits .col-md-4 {
        flex: 0 0 25%;
    }
}

@media screen and (max-width : 575px) {
    #hits .col-md-4 {
        flex: 0 0 25%;
        max-width: 33.333333%;
    }
    #hits .col-md-8 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .search-results {
        margin: .7rem;
    }
    .search-results .card img {
        height: 100%;
    }
    .search-results h2 {
        padding-bottom: 0;
        margin-right: 0;
    }
    .search-results .card .card-body {
        padding: 0.75rem;
    }
    .search-results .ais-InfiniteHits li {
        margin: 0;
    }
    #search-results-bar input.ais-SearchBox-input {
        width: 85%;
    }
}

/* ------------------------------------- */
/* ## SEARCH HIGHLIGHT
/* ------------------------------------- */
.search-results mark {
    background-color: #c8102e;
    color: #fff;
    padding: 0;
    font-weight: bold;
}

/* ------------------------------------- */
/* ## FACETS
/* ------------------------------------- */
.search-results-facets-outer_wrapper {
    margin: 1.125rem 1.1rem .5rem 0;
}
.search-results-facets-inner_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.search-results-facets {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 10px;
    justify-content: flex-end;
}
.search-results .ais-RefinementList ul {
    padding-left: 0;
    padding-right: 2rem;
}
.search-results .ais-RefinementList li {
    list-style: none;
    display: inline-block;
    margin: 0.3rem;
    width: 100%;
}
.search-results-facets .btn-outline-primary {
    font-size: .8rem;
}
.search-results-facets .btn {
    padding: .2rem .5rem;
}
.search-results-facets .btn-outline-primary:hover:after {
    background: none;
}
.search-results li.ais-RefinementList-item.ais-RefinementList-item--selected .btn-outline-primary {
    background-color: #003d4c;
    color: #fff;
}

/* --------------------------------------  */
/* ## Current Refinements
/* --------------------------------------  */
ul.ais-CurrentRefinements-list {
    padding-left: 0;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(5, 1fr);
    margin-left: 0 !important;
    margin-right: 0 !important;
}
li.ais-CurrentRefinements-item {
    list-style: none;
}
span.ais-CurrentRefinements-label {
    display: none;
}
div#current-refinements {
    padding: 0 0 0.8rem 0.5rem;
    display: flex;
    flex-wrap: wrap;
}
button.ais-CurrentRefinements-delete.btn.btn-outline-primary {
    font-size: .8rem;
}
button.ais-CurrentRefinements-delete.btn.btn-outline-primary::after {
    content: "\f00d";
    font-family: 'FontAwesome';
    display: inline;
    margin-left: .7rem;
    vertical-align: middle;
}
button.ais-CurrentRefinements-delete.btn.btn-outline-primary:hover::after {
    background: transparent;
}
/* --------------------------------------  */
/* ## Responsive
/* --------------------------------------  */
@media screen and (max-width : 375px) {
    #hits .col-md-4 {
        display: none;
    }
    #hits .col-md-8 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .search-results-facets #program_area, .search-results-facets #audience, .search-results-facets #categories, .search-results-facets #topics {
        flex: 0 0 48% !important;
    }
}
@media screen and (max-width : 425px) {
    ul.ais-CurrentRefinements-list {
        grid-template-columns: 1fr !important;
    }
    .search-results-facets-outer_wrapper {
        margin: 1.125rem 1.1rem .5rem;
    }
    #search-results-bar input.ais-SearchBox-input {
        width: 85%;
    }
}
@media screen and (max-width : 575px) {
    .search-results .card img {
        max-width: 140px;
    }
    .search-results-facets #program_area, .search-results-facets #audience, .search-results-facets #categories, .search-results-facets #topics {
        flex: 0 0 45%;
    }
    ul.ais-CurrentRefinements-list {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}
@media screen and (max-width : 768px) {
    .search-results .card img {
        max-width: 100%;
    }
    ul.ais-CurrentRefinements-list {
        grid-template-columns: repeat(3, 1fr) !important;
    }
    div#current-refinements {
        padding: 0 0 0.8rem 0;
    }
}
@media screen and (max-width : 1099px) {
    .search-results-facets-inner_wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }
    .search-results-facets {
        justify-content: flex-start;
        padding-bottom: 2.5rem;
    }
    .isueo-searchall {
        padding-bottom: 1rem;
    }
}
@media screen and (max-width : 1199px) {
    ul.ais-CurrentRefinements-list {
        grid-template-columns: repeat(4, 1fr);
    }
}
    
/* ------------------------------------- */
/* ## SEARCH BAR
/* ------------------------------------- */
#search-results-bar input.ais-SearchBox-input {
    margin-bottom: .5rem;
    width: 90%;
    height: 3rem;
    border-radius: 0.5rem 0 0 0.5rem;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: none;
    border-color: #eeeeee;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.search-results-snipets #search-results-bar {
    margin: 3.125rem 1.1rem 0;
}
#search-results-bar button.ais-SearchBox-submit {
    width: 2.5rem;
    height: 3rem;
    padding: 0;
    color: #676767;
    background-color:#fff;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-left: none;
    border-radius: 0 0.5rem 0.5rem 0;
}
#search-results-bar svg.ais-SearchBox-submitIcon {
    height: 1em;
    vertical-align: -.125rem;
    width: 1.3rem;
}
#search-results-bar input.ais-SearchBox-input:focus-visible {
    outline: 1px solid #f1be48;
}
.isueo-searchall {
    padding-left: 1rem;
    font-size: .8rem;
    padding-bottom: 1rem;
}


/* --------------------------------------  */
/* ## Responsive
/* --------------------------------------  */
