/* Styles for Crops blogs */

.field-name-field-category, .field-name-field-tags {display:none;}

.field-name-field-lug-blog-author img {margin-right:15px; padding:3px; float:left;}

.field-name-field-lug-blog-author .field-label {font-weight:bold; margin-top:15px;}

/* Style for embedded articles */
.embedded_article img {
	float: left;
	padding: 10px;
}
.deck {
	font-size: 1.25rem;
}
.authored-on {
	font-size: 1rem;
	color: #676767;
	padding-bottom: 15px;
}
span.authored-on {
	font-size: 1rem;
	color: #676767;
}
.isueo-news-author {
	margin-top: 3rem;
}
.isueo-news-author h2.isu-block-title.h4 {
	margin-bottom: 1.375rem;
}

