/* Styles for Crops blogs */

.field-name-field-category, .field-name-field-tags {display:none;}

.field-name-field-lug-blog-author img {margin-right:15px; padding:3px; float:left;}

.field-name-field-lug-blog-author .field-label {font-weight:bold; margin-top:15px;}

/* Style for embedded articles */
.embedded_article img {
	float: left;
	padding: 10px;
}
.deck {
	font-size: 1.25rem;
}
.authored-on {
	font-size: 1rem;
	color: #676767;
	padding-bottom: 15px;
}
span.authored-on {
	font-size: 1rem;
	color: #676767;
}
.isueo-news-author, .isueo-news-author > div, .isueo-news-author-list, .isueo-news-author-list ul {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0;
	margin: 0;
	padding: 0;
}
.isueo-news-author-list ul li:not(:last-child)::after {
	content: ',';
	margin-right: 4px;
	margin-left: -4px;
}
.isueo-news-author h2.isu-block-title.h4 {
	margin-bottom: 1.375rem;
}
/* Style for archive notice */
.archive-message-wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 1rem;
}
.archive-message-notice {
	display: flex;
	align-items: center;
	position: relative;
	top: 0;
	left: 0;
	z-index: 0;
	vertical-align: middle;
}
.archive-message-notice p {
	padding-left: .25rem;
	font-family: var(--serif-font);
	font-weight: 700;
	line-height: 1.625;
	margin-bottom: 0;
}
.archive-message-notice svg {
	width: 1.25em;
	flex: 0 0 auto;
	font-size: 1.5rem;
}