PUBLIC_PORKBOT_API_BASE_URL=https://porkbot-extension-f0edf7egf8d5c3e2.canadacentral-01.azurewebsites.net
PUBLIC_PORKBOT_API_PREFIX=/api
PUBLIC_PORKBOT_DEFAULT_MODE=widget
PUBLIC_PORKBOT_OPEN_BY_DEFAULT=false
