/* Styles for Location Information */
div.font-weight-bold {width:20%;}
div.staff_profile_counties_served div.font-weight-bold {float:left;}
div.staff_profile_counties_served div.staff_profile_counties_served {width:80%; padding-left:5px;}

/* SmugMug image styles */
.node-type_staff-profile img.staff_profile_smugmug {max-width:200px;  margin: 10px 0px; margin-right: 50px; }
.node-type_staff-profile img.staff_profile_blank_image {display:none; }

/* Don't need to display country */
p.address span.country {display:none;}

/* Custodian of Public Records Styles */
.isu-custodian-records:before { content: "\f46c"; font-family: FontAwesome; color: var(--primary-color); font-size: 1.3rem; padding-right: 5px; }
.isu-custodian-records { float: right; font-size: 0.9rem; }

/* Responsive Styles */
@media screen and (max-width : 768px) {
  fieldset div.font-weight-bold {width:25%;}
  div.staff_profile_counties_served div.staff_profile_counties_served {width:75%;}
}

/* Staff Author View */
.isueo-staff-author { display: flex; align-items: center; }
.isueo-staff-author--img { width: 75px; height: 75px; border-radius: 100%; overflow: hidden; display: flex; align-items: start; justify-content: center; }
.isueo-staff-author--img img.staff_profile_smugmug { max-width: 100%; min-width: auto; }
.isueo-staff-author--body { padding-left: 1rem;}
.isueo-news-author .isueo-staff-author { align-items: flex-start; }
.isueo-news-author ul { display: flex; gap: 10px; flex-direction: column; }
.isueo-news-author .isueo-staff-author--img { width: 50px; height: 50px; border-radius: 100%; overflow: hidden; display: flex; align-items: start; justify-content: center; }
