:root {
	--dk-gray: #4a4a4a;
	--lt-gray: #f5f5f5;
	--md-gray: #ebebeb;
	--sans-font: 'Arial', 'Helvetica Neue', sans-serif;
	--serif-font: 'Merriweather', serif;
  }

/* --------------------------------------  */
/* ## CARD DECK BLOCK
/* --------------------------------------  */
.isueo-card-deck.card {
	text-align: left;
	border-radius: .5rem;
}
.isueo-card-deck-title.h3.card-title {
	padding: 1.25rem 1rem 0 1rem;
	font-family: var(--serif-font);
	margin: 0;
	color: var(--secondary-color);
}
.isueo-card-deck-body.card-body {
	padding: 1.25rem 1rem 1.25rem 1rem;
}
.isueo-card-deck-footer.card-footer {
	padding: 1.25rem 1.25rem 1.25rem 1.25rem;
}
.isueo-card-deck-footer a {
	text-decoration: none;
	color: var(--link-color);
	font-weight: 700;
}
.isueo-card-deck-footer a:after {
	content: "\f061";
	font-family: FontAwesome;
	padding-left: .5rem;
	vertical-align: middle;
}
.isueo-card-deck-img img {
	object-fit: cover;
	width: 100%;
}
.isueo-card-deck.card dl, .isueo-card-deck.card ol, .isueo-card-deck.card ul {
	color: initial;
}
/* --------------------------------------  */
/* ## RESPONSIVE
/* --------------------------------------  */
@media screen and (max-width : 991px) {
	.card-deck {
		max-width: 95%;
		margin-right: auto;
		margin-left: auto;
	}
}
@media screen and (min-width : 576px) {
	.card-deck {
		margin-right: 0;
		margin-left: 0;
	}
}
